normalColor = #6c7c87
hoverColor = #e74b3b
.select7
	position relative
	display inline-block
	min-width 85px
	margin 0 -10px
	text-align left
	&_position_right
		.select7
			&__drop
				left auto
				right 0
			&__option
				text-align right
	&__current
		padding 0 15px
		border 0 none
		position relative
		cursor pointer
		&:hover
			.select7
				&__current-value
					color hoverColor
				&__caret
					border-color hoverColor transparent transparent

	&__current-value
		color normalColor
		display inline-block
		border-bottom 1px dotted
		transition border-color .2s ease-in-out

	&__caret
		display inline-block
		width 0
		height 0
		margin-left 5px
		vertical-align middle
		border-width 6px 4px 0 4px
		border-style solid
		border-color normalColor transparent transparent
		transition border-color .1s linear

	&__drop
		display none
		position absolute
		top -10px
		left 0
		z-index 1000
		min-width 100%
		padding 35px 0 5px
		margin 0
		list-style none
		font-size 14px
		background-color #fff
		border-width 1px
		border-style solid
		border-color #ccc
		border-radius 3px
		box-shadow 0 3px 4px rgba(0,0,0,.1)
		background-clip padding-box

	&__option
		display block
		overflow hidden
		padding 3px 15px
		clear both
		text-decoration none
		font-weight 400
		line-height 1.428571429
		color #333
		background-color #fff
		white-space nowrap
		cursor pointer
		transition background-color .2s ease-in-out
		&:hover
			color #262626
			background-color #f5f5f5

	&_open
		.select7
			&__current
				z-index 1001
				&:hover
					.select7
						&__current-value
							border-color transparent
						&__caret
							border-color transparent transparent hoverColor
			&__caret
				border-color transparent transparent normalColor
				border-width 0 4px 6px 4px
			&__drop
				display block
